# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.astro
out

# Cache
.turbo
.cache
coverage

# Env
.env
.env.local
.env.*.local

# Editor
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json

# Cloudflare
.wrangler
